{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({},'resetpwdmail') }}{% endblock %}

{% block body %}
    <p>
        {{ 'p1'|trans({},'resetpwdmail') }}
         {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'p2'|trans({},'resetpwdmail') }} <a href="{{ path('app_forgot_password_request') }}">{{ 'a'|trans({},'resetpwdmail') }}</a>.</p>
{% endblock %}
