<h1>{{ 'h1'|trans({},'pwdmail') }}</h1>

<p>{{ 'p1'|trans({},'pwdmail') }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'p2'|trans({},'pwdmail') }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>


