{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({},'pwdrequest') }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1 style="margin-top: 100px;">{{ 'h1'|trans({},'pwdrequest') }}</h1>
		{{ form_start(requestForm, {'attr': {'class': 'planning-form', 'style': 'position: absolute'}}) }}
		{{ form_row(requestForm.email) }}
		<div style="text-align: center;">{{ 'div'|trans({},'pwdrequest') }}

		</div>

		<button class="btn">{{ 'btn'|trans({},'pwdrequest') }}</button>
		{{ form_end(requestForm) }}
{% endblock %}
