{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({},'pwdrequest') }}
{% endblock %}

{% block body %}
	<h1>{{ 'title'|trans({},'pwdrequest') }}</h1>
	<div class="planning-form">
		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn">{{ 'button'|trans({},'pwdrequest') }}</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
