{% extends 'base.html.twig' %}

{% block title %}
    Contacts de {{ utilisateur.nom }} {{ utilisateur.prenom }}
{% endblock %}

{% block body %}
    <h1>Contacts de {{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

    <!-- Affichage des moyens de contact sous forme de cartes -->
    <div class="contact-section">
        {% if contacts is not empty %}        
            {% for contact in contacts %}
                {% include 'utilisateur/contact.html.twig' with {
                    contact: {
                        value: contact.value ,
                        name: contact.type.name ,
                        link: contact.getLink() 
                    }
                }%}
            {% endfor %}
        {% else %}
            <p>Aucun moyen de contact n'a été ajouté.</p>
        {% endif %}
    </div>





    <!-- Formulaire pour ajouter un nouveau moyen de contact -->
    <div class="add-contact-form">
        <h2>Ajouter un moyen de contact</h2>
        <form action="{{path('app_user_contacts_add')}}" method="post">
            <label for="type">Type de contact :</label>
            <select id="type" name="type">
                <!-- Ajoutez d'autres options si nécessaire -->
                {% for typeContact in typeContacts %}
                    <option value="{{ typeContact.name }}">{{ typeContact.label }}</option>
                {% endfor %}
            </select>

            <label for="value">Valeur :</label>
            <input type="text" id="value" name="value" placeholder="Entrez...">

            <button type="submit">Ajouter</button>
        </form>
    </div>
{% endblock %}
