{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}
	<main>
		{% if app.user.id == utilisateur.id %}
		<div class="profil-box">
			<h1>
				Profil de
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h1>
			<div class="info-box">
				<div class="info-row">
					<div class="info-border">
						<strong>Nom</strong>
						:
						{{ utilisateur.nom }}
					</div>

					<div class="info-border">
						<strong>Prénom</strong>
						:
						{{ utilisateur.prenom }}
					</div>
				</div>

				<div class="info-border">
					<strong>Email</strong>
					:
					{{ utilisateur.email }}

				</div>
			</div>
		<div class="btn-container">
			<div class="button-archive">
				<a href={{ path("app_user_profile_archiver", {'id' : utilisateur.getId()} ) }} class="btn btn-primary">Archiver le compte</a>
			</div>
		</div>
		</div>
		{% else %}
			<h1>
				Oups, il semblerait que vous ne soyez pas sur la bonne page
			</h1>
		{% endif %}


	</main>
{% endblock %}
