{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title'|trans({},'profil') }}
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}

		<div class="profil-box">
			<h1>
				{{ 'title'|trans({},'profil') }}
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h1>

		<div class="info-box-wrapper">
			<div class="image_profile">
				<img id="img-profil" {% if utilisateur.nomphotoprofil == true %} src="{{ asset("uploads/user/"~utilisateur.nomPhotoProfil~"") }}" {% else %} src="{{ asset("uploads/user/anonyme.png") }}" {% endif %}>
			</div>
			<div class="info-box">
				<div class="info-row">
					<div class="info-border">
						<strong>	{{ 'email'|trans({},'profil') }}
						</strong>
						:
						{{ utilisateur.email }}

				    </div>
						<div class="info-name-surname">
							<div class="info-border">
								<strong>	{{ 'surname'|trans({},'profil') }}
								</strong>
								:
								{{ utilisateur.nom }}
							</div>

							<div class="info-border">
								<strong>	{{ 'name'|trans({},'profil') }}
								</strong>
								:
								{{ utilisateur.prenom }}
							</div>
						</div>
            <div class="info-border">
					<strong>	{{ 'address'|trans({},'profil') }}
					</strong>
					:
					{{ utilisateur.adresse }}

				</div>
						<div class="info-border biographie">
								<strong>	{{ 'bio'|trans({},'profil') }}
								</strong>
								:
								{{ utilisateur.description }}
						</div>
				</div>

			<a href="{{ path('app_profile_edit', {'id' : utilisateur.getId()}) }}">
				<div class="edit-button">
                    {{ 'button'|trans({},'profil') }}
				</div>
			</a>
		</div>
		<!-- Section des moyens de contact -->
		<div class="contact-section">
			{% set contacts = utilisateur.getContacts() %}
			{% if contacts is not empty %}
				{% for contact in contacts %}
					{% include 'contacts/contact.html.twig' with {
						contact: {
							value: contact.value ,
							name: contact.type.name ,
							link: contact.getLink()
						}
					}%}
				{% endfor %}
			{% else %}
				<p>Aucun moyen de contact n'a été ajouté.</p>
			{% endif %}
				<a class="manage-contact-button" href={{path("app_user_contacts")}}>
					<span>
						Gérer mes contacts
					</span>
				</a>
		</div>
	</div>

{% endblock %}
