{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}

		<div class="profil-box">
			<h1>
				Profil de
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h1>
			<div class="info-box">
				<a href="">
					<img class="avatar"
							{% if utilisateur.nomphotoprofil == false %}
								src="{{ asset("uploads/user/anonyme.png") }}"
							{% else %}
								src="{{ asset("uploads/user/6560b8be1cfb1.jpg") }}"
							{% endif %}
						 alt="avatar de l'utilisateur">
				</a>
				<div class="info-row">
					<div class="info-border">
						<strong>Nom</strong>
						:
						{{ utilisateur.nom }}
					</div>

					<div class="info-border">
						<strong>Prénom</strong>
						:
						{{ utilisateur.prenom }}
					</div>
				</div>

				<div class="info-border">
					<strong>Email</strong>
					:
					{{ utilisateur.email }}

				</div>
				<div class="info-border">
					<strong>Adresse</strong>
					:
					{{ utilisateur.adresse }}

				</div>
				<div class="info-border">
					<strong>Description</strong>
					:
					{{ utilisateur.description }}

				</div>
				<div class="fest-button">

					<a href="{{ path('app_profile_edit', {'id' : utilisateur.getId()}) }}">
						<div class="button-shortcut">
							<img src="{{ asset("icons/modifier.svg") }}" alt="Modify icon">
						</div>
					</a>
				</div>
			</div>
		</div>

{% endblock %}
