{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}

		<div class="profil-box">
			<h1>
				Profil de
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h1>

			<div class="info-box-wrapper">
			<div class="info-box">
				<div class="image_profile">
				<img {% if utilisateur.nomphotoprofil == true %} 
				            src="{{ asset("uploads/Path-of-Exile-Logo-6522d2462da93.png") }}" alt=""
					 {% else %}
							src="{{ asset("uploads/"~utilisateur.nomPhotoProfil~"") }}"
					 {% endif %}>
			    </div>
				<div class="info-row">
					<div class="info-border">
						<strong>Email</strong>
						:
						{{ utilisateur.email }}

				    </div>
						<div class="info-name-surname">
							<div class="info-border">
								<strong>Nom</strong>
								:
								{{ utilisateur.nom }}
							</div>

							<div class="info-border">
								<strong>Prénom</strong>
								:
								{{ utilisateur.prenom }}
							</div>		
						</div>	
            <div class="info-border">
					<strong>Adresse</strong>
					:
					{{ utilisateur.adresse }}

				</div>
						<div class="info-border biographie">
								<strong>Biographie</strong>
								:
								{{ utilisateur.description }}
						</div>
					</div>
				</div>
				<div class="fest-button">

					<a href="{{ path('app_profile_edit', {'id' : utilisateur.getId()}) }}">
						<div class="button-shortcut">
							Modifier mon profil
						</div>
					</a>
				</div>
			</div>
		</div>

{% endblock %}
