{% extends 'base.html.twig' %}

{% block title %}
    Profil de
    {{ utilisateur.nom }}
    {{ utilisateur.prenom }}
{% endblock %}
{% block overhead %}
    <script src="{{ asset('js/profileInput.js') }}" defer></script>
{% endblock %}

{% block body %}

    <div class="profil-box">
        <h1>
            Profil de
            {{ utilisateur.nom }}
            {{ utilisateur.prenom }}
        </h1>

        <div class="info-box-wrapper">
            <div class="image_profile">
                <img id="img-profil" {% if utilisateur.nomphotoprofil == true %}
                    src="{{ asset("uploads/user/"~utilisateur.nomPhotoProfil~"") }}"
                {% else %}
                    src="{{ asset("uploads/user/anonyme.png") }}"
                        {% endif %}>
            </div>
            <div class="info-box">
                <div class="info-row">
                    <div class="info-border" contenteditable="false">
                        <strong>Email</strong>
                        :
                        <input class="input-profile" disabled value="{{ utilisateur.email }}">
                        <a class="pen">游둘</a>
                    </div>
                    <div class="info-name-surname">
                        <div class="info-border">
                            <strong>Nom</strong>
                            :
                            <input class="input-profile" disabled value="{{ utilisateur.nom }}">
                            <a class="pen">游둘</a></div>

                        <div class="info-border">
                            <strong>Pr칠nom</strong>
                            :
                            <input class="input-profile" disabled value="{{ utilisateur.prenom }}">
                            <a class="pen">游둘</a></div>
                    </div>
                    <div class="info-border">
                        <strong>Adresse</strong>
                        :
                        <input class="input-profile" disabled value="{{ utilisateur.adresse }}">
                        <a class="pen">游둘</a>
                    </div>
                    <div class="info-border biographie">
                        <strong>Biographie</strong>
                        :
                        <textarea class="input-profile">{{ utilisateur.description }}</textarea>
                        <a class="pen">游둘</a>
                    </div>
                </div>
            </div>

            <a href="{{ path('app_profile_edit', {'id' : utilisateur.getId()}) }}">
                <div class="edit-button">
                    Modifier mon profil
                </div>
            </a>
        </div>
    </div>
{% endblock %}
