{% extends "base.html.twig" %}

{% block title %}
	{{ user.nom }}
{% endblock %}

{% block body %}
	<div class="public-profile__container">
		<div class="public-profile__header">
			<div class="public-profile__header--image">
				<img {% if user.nomphotoprofil == true %} src="{{ asset("uploads/user/"~utilisateur.nomPhotoProfil~"") }}" {% else %} src="{{ asset("uploads/user/anonyme.png") }}" {% endif %}>
			</div>
            <div class="public-profile__header--name"> {{user.nom ~ " " ~ user.prenom }} </div>
		</div>
        <div class="public-profile__infos">
            <div class="public-profile__infos--title">Biographie : </div>
            <div class="public-profile__infos--bio">    
                {{ user.description }}    
            </div>
            <div class="public-profile__infos--contacts">
                <div class="public-profile__infos--title">Contacts : </div>
                {% for contact in user.getContacts() %}
                    <div class="">contact : {{contact}}</div>
                {% endfor %}
            </div>
	</div>
{% endblock %}
