{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title'|trans({},'trackingvolunreq') }}
{% endblock %}

{% block overhead %}{% endblock %}

{% block body %}
    <h1>
    {{ 'title'|trans({},'trackingvolunreq') }}
    </h1>

    <table>
    <thead>
    <tr>
        <th>Festival</th>
        <th>    {{ 'date'|trans({},'trackingvolunreq') }}
        </th>
        <th>
            {{ 'status'|trans({},'trackingvolunreq') }}
        </th>
        <th>Motif</th>

    </tr>
    </thead>
    <tbody>
    {% for demande in demandes %}
        <td> <a href="{{ path('app_festival_detail', {'id' : demande.getFestival().getId()}) }}"> {{ demande.getFestival().getNom() }} </a></td>
        <td>{{ demande.dateDemande|date("m/d/Y") }}</td>
        {% if demande.statut()==1 %}
            <td>    {{ 'valid'|trans({},'trackingvolunreq') }}
            </td>
        {% elseif demande.statut()==0 %}
            <td>     {{ 'pending'|trans({},'trackingvolunreq') }}
            </td>
        {% else %}
            <td>     {{ 'rejected'|trans({},'trackingvolunreq') }}
            </td>
        {% endif %}
        
        {% if demande.getMotif() is defined %}
        <td>{{ demande.getMotif() }}</td>
        {% else %}
        <td>     {{ 'motif'|trans({},'trackingvolunreq') }}
        </td>
        {% endif %}

    </tbody>
    {% endfor %}

{% endblock %}