{% extends "base.html.twig" %}

{% block title %}Mes Festivals
{% endblock %}

{% block body %}
	<h1 class="my-fest__title">Mes Festivals</h1>

	<div class="my-fest__btns ">
		<a href="{{ path('app_user_festivals', {'filter': 'volunteer'}) }}" class="{{filter == 'volunteer' ? 'active' : 'btn-primary'}} ">Festivals en tant que bénévole</a>
		<a href="{{ path('app_user_festivals', {'filter': 'owned'}) }}" class="{{filter == 'owned' ? 'active' : 'btn-primary'}}">Festivals que j'organise</a>
	</div>

	{% if filter == 'volunteer' %}
		<h2 class="my-fest__heading">Les festivals auxquels je participe :</h2>
	{% else %}
		<h2 class="my-fest__heading">Les festivals que j'organise :</h2>
	{% endif %}

	<div class="fest-wrapper with-margin">

		{% for festival in festivals %}
			{% if festival.getIsArchive() != 1 %}
				<div class="fest">
					<a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">

						<div class="affiche" style="background-image: url('{{ (festival.getAffiche()) != null ? asset("uploads/" ~ festival.getaffiche()) : asset("img/affiches/affiche-xx.jpg") }}')"></div>
						<div class="fest-info">
							<div class="fest-nom">
								<span>{{ festival.getNom() }}</span>
							</div>
							<div class="fest-dateEtLieux">
								<span>{{ festival.getDateDebut()|date("d/m/Y") ~ ' - ' ~ festival.getDateFin()|date("d/m/Y") }}</span>
							</div>
						</div>
					</a>
					<div class="my-fest__buttons">
						{% if filter == 'owned' %}

							<div class="tooltip">
								<span class="tooltipText">Modifier votre festival</span>
								<a class="my-fest__btn" href="{{ path('app_festival_modifier', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/modifier.svg") }}" alt="Modify icon">
								</a>
							</div>

							<div class="tooltip">
								<span class="tooltipText">Gérer les postulations</span>
								<a class="my-fest__btn" href="{{ path('app_festival_demandesBenevolat', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/gererUser.svg") }}" alt="manage user icon">
									{{ component('Notification', { type : 'autre', userId : app.user.id, festId : festival.id}) }}
								</a>
							</div>

							<div class="tooltip">
								<span class="tooltipText">Visualiser/Gérer le planning</span>
								<a class="my-fest__btn" href="{{ path('app_festival_planning', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/planning.svg") }}" alt="planning icon">
								</a>
							</div>

							<div class="tooltip">
								<span class="tooltipText">Gérer votre festival</span>
								<a class="my-fest__btn" href="{{ path('app_festival_gestion', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/settingsIco.svg") }}" alt="settings icon">
								</a>
							</div>
						{% else %}
							<div class="tooltip">
								<span class="tooltipText">Présentation du festival</span>
								<a class="my-fest__btn" href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/info.svg") }}" alt="more info icon">
								</a>
							</div>
							<div class="tooltip">
								<span class="tooltipText">Ajouter ses préférences</span>
								<a class="my-fest__btn" href="{{ path('app_festival_postes', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/like.svg") }}" alt="manage liked job's icon">
								</a>
							</div>
							<div class="tooltip">
								<span class="tooltipText">Visualiser le planning</span>
								<a class="my-fest__btn" href="{{ path('app_festival_planning', {'id' : festival.getId()}) }}">
									<img src="{{ asset("icons/planning.svg") }}" alt="planning icon">
								</a>
							</div>
						{% endif %}

					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
