{% extends 'base.html.twig' %}


{% block title %}{{ 'title'|trans({}, "userarchive") }}{{ utilisateur.getNom() }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'h1'|trans({}, "userarchive") }}
    </h1>

    <div class="btn-container">
        <div class="button-benevole">
            <a href={{ path("app_user_profile",{ 'id': utilisateur.getId() }) }} class="btn btn-primary">{{ 'cancel'|trans({}, "userarchive") }}</a>
        </div>
        <div class="button-archive">
            <a href={{ path("app_festival_archiver_done", { 'id': utilisateur.getId() }) }} class="btn btn-primary">{{ 'submit'|trans({}, "userarchive") }}</a>
        </div>
    </div>
{% endblock %}