<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
		{% block overhead %}{% endblock %}
	</head>
	<body>
		<div id="">
			{% for success in app.flashes('success') %}
				<!-- Pour chaque message du type "success" -->
				<div class="flashes flashes-success">{{ success }}</div>
			{% endfor %}
			{% for error in app.flashes('error') %}
				<!-- Pour chaque message du type "error" -->
				<div class="flashes flashes-error">{{ error }}</div>
			{% endfor %}
		</div>
		{# en cas de desktop#}
		<div class="sidebar_desktop">
		{% include 'sidebar.html.twig' %}
		</div>
		{# en cas de mobile#}
		<div class="header_menu">
			<div id="menuToggle">
				<input type="checkbox" />
				<span></span>
				<span></span>
				<span></span>
				<div class="sidebar_mobile">
					{% include 'sidebar.html.twig' %}
				</div>
			</div>
				<div class="sidebar__title">
					<a href="{{path('home')}}">
					<h1>Festiflux</h1>
					<div>On the flux</div>
					</a>
				</div>
		</div>

		<main style="position: relative;">
			{% block body %}{% endblock %}
		</main>
		<footer style="display: none;">
			<div class="">
				<div class="">
					<h3>FestifluxOnTheFlux</h3>
					<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
				</div>
				<div class="col item social">
					<a href="#">
						<i class="icon ion-social-facebook"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-twitter"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-snapchat"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-instagram"></i>
					</a>
				</div>
			</div>
			<p class="copyright">FestifluxOnTheFlux © 2023</p>
		</footer>
	</body>
</html>
