{% block sidebar %}

	<div class="sidebar">
		<div class="sidebar__content">
			<div class="sidebar__header">
				<a href="{{path('home')}}">
					<div class="sidebar__title">
						<h1>Festiflux</h1>
						<div>On the flux</div>
					</div>
				</a>
			</div>

			<div class="sidebar__actions">

				<div class="sidebar__actions__menu">
					<h3>MENU</h3>
					<ul>
						<li><img src="{{ asset("icons/house.svg") }}" alt="House icon"><a href="{{ path("home") }}">Accueil</a>
						</li>
						{% if is_granted('ROLE_USER')  %}
							<li>
								<img src="{{ asset("icons/myFest.svg") }}" alt="My festival icon"><a href={{path("app_user_festivals")}}>Mes festivals</a>
								{{ component('Notification', { type : 'allDemandesBenevolat', userId : app.user.id}) }}
							</li>
							<li><img src="{{ asset("icons/addFest.svg") }}" alt="add a festival icon"><a href="{{ path("app_demandefestival_add") }}">Ajouter un festival</a>
							</li>
							{% if app.user.getHistoriquePostulations().isEmpty()==false %}
							<li><img src="{{ asset("icons/check.svg")}}" alt="Tracking volontary request icon"><a href="{{ path("app_user_traking_benevole_request", {id: app.user.id} ) }}">Suivi de vos Postulations</a></li>
							{% endif %}
							{% if is_granted('ROLE_ADMIN')  %}
								<li>
									<img src="{{ asset("icons/addFest.svg") }}" alt="add a festival icon">
									<a href="{{ path("app_demandefestival_all") }}">Toutes les demandes</a>
									{{ component('Notification', { type : 'demandeFestival'}) }}
								</li>
							{% endif %}
						{% endif %}
					</ul>
				</div>

				<div class="sidebar__actions__account">
					<h3>COMPTE</h3>
					<ul>
						{% if is_granted('ROLE_USER')  %}
							<li><img src="{{ asset("icons/person.svg") }}" alt="Person icon"><a href={{path("app_user_profile", {id: app.user.id} )}}>{{ app.user.prenom }}</a>
							</li>
							<li><img src="{{ asset("icons/logout.svg") }}" alt="Logout icon"><a href={{path("app_auth_logout")}}>Se déconnecter</a>
							</li>
						{% else %}
							<li><img src="{{ asset("icons/person.svg") }}" alt="Person icon"><a href={{path("app_auth_login")}}>Se connecter</a>
							</li>
						{% endif %}
					</ul>

				</div>

			</div>
		</div>
	</div>
{% endblock %}
