{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
  <main class="registration-form">
    {{ form_start(form, {'attr': {'class': 'registration-form__form'}}) }}

      <div class="registration-form__field">
        {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'registration-form__input'}}) }}
      </div>

      <div class="registration-form__field">
        {{ form_row(form.nom, {'label': 'Nom', 'attr': {'class': 'registration-form__input'}}) }}
      </div>

      <div class="registration-form__field">
        {{ form_row(form.prenom, {'label': 'Prénom', 'attr': {'class': 'registration-form__input'}}) }}
      </div>

      <div class="registration-form__field">
        {{ form_row(form.plain_mot_de_passe, {'label': 'Mot de passe', 'attr': {'class': 'registration-form__input'}}) }}
      </div>

      {{ form_widget(form.inscription, {'label': 'S\'inscrire', 'attr': {'class': 'registration-form__submit'}}) }}
      
      {{ form_rest(form) }}
    {{ form_end(form) }}
  </main>
{% endblock %}
