{% extends 'base.html.twig' %}

{% block title %}
	profile de
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}
	<main>
		<h1>
			profile de
			{{utilisateur.nom}}
			{{utilisateur.prenom}}
		</h1>

		<p>
			<strong>nom</strong>
			:
			{{utilisateur.nom}}
		</p>
		<p>
			<strong>prenom</strong>
			:
			{{utilisateur.prenom}}
		</p>

		<p>
			<strong>email</strong>
			:
			{{utilisateur.email}}

		</p>


	</main>
{% endblock %}
