{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{utilisateur.nom}}
	{{utilisateur.prenom}}
{% endblock %}

{% block body %}
	<main>
		<div class="profil-box">
			<h1>
				Profil de
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h1>
			<div class="info-box">
				<div class="info-row">
					<div class="info-border">
						<strong>Nom</strong>
						:
						{{ utilisateur.nom }}
					</div>

					<div class="info-border">
						<strong>Prénom</strong>
						:
						{{ utilisateur.prenom }}
					</div>
				</div>

				<div class="info-border">
					<strong>Email</strong>
					:
					{{ utilisateur.email }}

				</div>
			</div>
		</div>


	</main>
{% endblock %}
