{% extends "base.html.twig" %}


{% block title %}Mes Festivals
{% endblock %}


{% block body %}
	<h1 class="login-form__title">Mes Festivals</h1>


	{% for festival in festivals %}
		<div class="fest">
			<a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">
				<img class="affiche" {# {% if (festival.getAffiche()) != null %} src="{{ asset("img/festival/uploads/" ~ festival.getAffiche() ) }}" {% else %} #} src="{{ asset("img/affiches/affiche-XX.jpg") }}" {# {% endif %} #} alt="affiche du festival">
				<div class="fest-info">
					<div class="fest-nom">
						<span>{{ festival.getNom() }}</span>
					</div>
					<div class="fest-dateEtLieux">
						<span>{{ festival.getDateDebut()|date("d/m/Y") }}-{{ festival.getDateFin()|date("d/m/Y") }}</span>
						<span>{# {{ festival.getLieuxVille() }} #}</span>
					</div>
				</div>
			</a>
			<div class="fest-button">

				<a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">
					<div class="button-shortcut">
						<img src="{{ asset("icons/modifier.svg") }}" alt="Modify icon">
					</div>
				</a>
				<a href="{{ path('app_festival_demandesBenevolat', {'id' : festival.getId()}) }}">
					<div class="button-shortcut">
						<img src="{{ asset("icons/gererUser.svg") }}" alt="manage user icon">
					</div>
				</a>
				<a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">
					<div class="button-shortcut">
						<img src="{{ asset("icons/planning.svg") }}" alt="planning icon">
					</div>
				</a>
			</div>
		</div>

	{% endfor %}

{% endblock %}
