<h1>    {{ 'h1'|trans({},'emailconf') }}
</h1>

<p>
    {{ 'p1'|trans({},'emailconf') }}
     <br><br>
    <a href="{{ signedUrl|raw }}">    {{ 'a'|trans({},'emailconf') }}
    </a>.
    {{ 'exp'|trans({},'emailconf') }}
    {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'p2'|trans({},'emailconf') }}
</p>
