<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Planning
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


		{% block overhead %}{% endblock %}
	</head>
	<body>
		{{ encore_entry_script_tags('app') }}
		<main>
			<a id="back-button" href="{{ path('app_postulations_postulation', { id: postulation.id }) }}">
				<img src="{{ asset('icons/right-arrow.png') }}" alt="Flèche retour">
			</a>

			<div class="planning-wrapper" {{ vue_component('PlanningIndispo', { 'festID': festival.id, 'title': 'Indisponibilité' ~ (isOrga ? " de " ~ utilisateur.nom : " pour le festival " ~ festival.nom), 'isOrga': isOrga, 'dateDebut': festival.dateDebut | date("m/d/Y"), 'dateFin': festival.dateFin | date("m/d/Y"), 'userId': utilisateur.getId() } ) }}></div>
 
		</main>

	</body>
</html>
