{% extends "base.html.twig" %}
{% block title %}ajouter votre festival{% endblock %}
{% block overhead %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="{{ asset('js/mapAddFest.js') }}" defer></script>
	<link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
	<script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js" defer></script>

{% endblock %}
{% block body %}

	<div class="form-wrapper">
		<h1>Demande de création de festival</h1>

		{{ form_start(form, {'attr': {'class': 'festival-form'}}) }}

		{{ form_row(form.nomFestival, {'label': false, 'attr': {'class': 'festival-form__input', 'placeholder': 'Nom du Festival'}}) }}
		{{ form_row(form.descriptionFestival, {'label': false, 'attr': {'class': 'festival-form__input', 'placeholder': 'Description du Festival'}}) }}

		<div class="form-row" >
			{{ form_widget(form.dateDebutFestival, {'label': 'Date de début'}) }}
			{{ form_widget(form.dateFinFestival, {'label': 'Date de fin'}) }}
		</div>
		<div id="box-adresses">
		{{ form_row(form.lieuFestival, {'label': false, 'attr': {'class': 'festival-form__input', 'placeholder': 'Lieu du Festival'}}) }}
			{{ form_row(form.lat,{'attr':{'id':'lat'}}) }}
			{{ form_row(form.lon,{'attr':{'id':'lon'}}) }}
		</div>
		{{ form_row(form.afficheFestival, {'label': 'Choisissez une affiche', 'attr': {'class': 'festival-form__input', 'placeholder': 'Affiche du Festival'}}) }}
		{{ form_row(form.tags, {'label':false, 'attr': {'name':'tags', 'class': 'festival-form__input'} })  }}
		{{ form_widget(form.demanderCreationFestival, {'label': 'Demander création', 'attr': {'class': 'festival-form__checkbox'} }) }}

		{{ form_end(form) }}
	</div>

	<script type="text/javascript" src="{{ asset('js/Datepickers.js') }}"></script>
	<script type="application/javascript" src="{{ asset('js/Tags.js') }}"> </script>

{% endblock %}
