{% extends "base.html.twig" %}
{% block title %}Liste des demandes
{% endblock %}

{% block overhead %}
	<script src="{{ asset('js/modal.js') }}" defer></script>
{% endblock %}

{% block body %}
	<h1 style="margin-top: 100px ">Liste des demandes de Validation</h1>
	<table class="liste_fest">
		<thead>
			<tr>
				<th>Festival</th>
				<th>Organisateur</th>
				<th>Postes</th>
				<th>Plages du planning</th>
				<th>formulaire postulation</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for validation in validations %}
				<tr>
					<td><a href="{{ path('app_festival_detail', {'id' : validation.getFestival().getId() }) }}">{{ validation.getFestival().getNom() }}</a></td>
					<td><a href="{{ path('app_user_profile', {'id' : validation.getFestival().getOrganisateur().getId() }) }}">{{ validation.getFestival().getOrganisateur().getNom() }}</a></td>
					<td><a href="{{ path('app_festival_postes', {'id' : validation.getFestival().getId() }) }}">Voir les postes </a></td>
					<td><a href="blank">Voir les plages</a></td>
					<td><a href="blank">formulaire postulation</a></td>
					<td>
						<form action={{path("app_validation_accept", {"id": validation.id} )}} method="post">
							<button class="">Accepter</button>
						</form>
						<button class="btn btn-open">Refuser</button>
					</td>
				</tr>
  
				<section class="modal hidden">
					<div>
						<div class="flex-row modal_top">
							<h3 style="color: #0a0a0a">Ajouter un motif</h3>
							<button class="btn-close">⨉</button>
						</div>
						<p>
							Dans la rubrique ci-dessous, ajouter un motif pour expliquer votre choix.
						</p>
					</div>

					<form action={{path("app_validation_reject", {"id": validation.id} )}} method="post">
						<textarea name="motif" id="motif" cols="30" rows="10" placeholder="Ecrivez un motif..."></textarea>
						<button class="">Envoyer</button>
					</form>
				</section>


				<div class="overlay hidden"></div>
			{% else %}
				<tr>
					<td colspan="\" 8\"">Aucune demande trouvée</td>
				</tr>


			{% endfor %}
		</tbody>

	</table>
{% endblock %}
