{% extends "base.html.twig" %}
{% block title %}{{ 'title'|trans({},'demandefest') }}{% endblock %}

{% block overhead %}
    <script src="{{ asset('js/modal.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h1>{{ 'title'|trans({},'demandefest') }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'name'|trans({},'demandefest') }}</th>
                <th>{{ 'desc'|trans({},'demandefest') }}</th>
                <th>{{ 'orga'|trans({},'demandefest') }}</th>
                <th>{{ 'datebeg'|trans({},'demandefest') }}</th>
                <th>{{ 'dateend'|trans({},'demandefest') }}</th>
                <th>{{ 'location'|trans({},'demandefest') }}</th>
                <th>{{ 'actions'|trans({},'demandefest') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for validation in validations %}
                <tr>
                    <td>{{ validation.getFestival().getNom() }}</td>
                    <td>{{ validation.getFestival().getDescription() }}</td>
                    <td>{{ validation.getFestival().getOrganisateur().getNom() }}</td>
                    <td>{{ validation.getFestival().getDateDebut()|date("d/m/Y") }}</td>
                    <td>{{ validation.getFestival().getDateFin()|date("d/m/Y") }}</td>
                    <td>{{ validation.getFestival().getLieu() }}</td>
                    <td>
                        <form action="{{ path('app_validation_accept', {'id': validation.id}) }}" method="post">
                            <button class="">{{ 'accept'|trans({},'demandefest') }}</button>
                        </form>
                        <button class="btn-open" data-validation-id="{{ validation.id }}">{{ 'reject'|trans({},'demandefest') }}</button>
                    </td>
                </tr>

                <div class="modal hidden" id="modal-{{ validation.id }}">
                    <div>
                        <div class="flex-row modal_top">
                            <h3 style="color: #0a0a0a">{{ 'addmotif'|trans({},'demandefest') }}</h3>
                            <button class="btn-close">⨉</button>
                        </div>
                        <p>
                            {{ 'motiftxt'|trans({},'demandefest') }}
                        </p>
                    </div>

                    <form action="{{ path('app_validation_reject', {'id': validation.id}) }}" method="post">
                        <textarea name="motif" id="motif" cols="30" rows="10" placeholder="Ecrivez un motif..."></textarea>
                        <button class="">{{ 'send'|trans({},'demandefest') }}</button>
                    </form>
                </div>
            {% endfor %}
        </tbody>
    </table>

    <div class="overlay hidden"></div>
{% endblock %}
