{% extends 'base.html.twig' %}


{% block title %}Création d'une tache
{% endblock %}

{% block body %}

	<h1>Création d'une tache</h1>

	<div class="form-wrapper">
		{{ form_start(form) }}

		{{ form_row(form.nom, { 'label': false }) }}
		{{ form_row(form.lieu, { 'label': false }) }}
		<div class="form-row">
			{{ form_widget(form.heureDebut, {'label': 'Date de début', 'attr': {'class': 'festival-form__input'} }) }}
			{{ form_widget(form.heureFin, {'label': 'Date de fin', 'attr': {'class': 'festival-form__input'}}) }}
		</div>
		{{ form_widget(form.creerTache) }}

		{{ form_end(form) }}
	</div>


{% endblock %}
