{% extends 'base.html.twig' %}


{% block title %}Création d'une tache
{% endblock %}

{% block body %}

	<h1>Création d'une tache</h1>

	{{ form_start(form) }}

	{{ form_row(form.lieu) }}
	{{ form_row(form.heureDebut) }}
	{{ form_row(form.heureFin) }}
	{{ form_row(form.creerTache) }}

	{{ form_end(form) }}


{% endblock %}
