{% extends 'base.html.twig' %}

{% block title %}festivals
{% endblock %}

{% block body %}
	<div class="detailFesival">
		<img class="affiche" id="affiche" {# {% if (festival.getAffiche()) != null %} src="{{ asset("img/festival/uploads/" ~ festival.getAffiche() ) }}" {% else %} #} src="{{ asset("img/affiches/affiche-XX.jpg") }}" {# {% endif %} #} alt="affiche du festival">
		<div class="fest-info" id="fest-info">
			<div class="fest-nom">
				<span>{{ festival.getNom() }}</span>
			</div>
			<div class="fest-dateEtLieux">
				<span>{{ festival.getDateDebut()|date("d/m/Y") }}-{{ festival.getDateFin()|date("d/m/Y") }}</span>
			</div>
		</div>
		<div class="fest-description">
			<div class="title">
				Description :
			</div>
			<div class="main-desc">
				{{ festival.description() }}
			</div>
			<div class="title">
				Localisation :
			</div>
			<div id="mapid"></div>
		</div>

		{% if is_granted('ROLE_USER') %}
			<div class="button-benevole">
				<a href="{{ path("app_auth_login") }}">Devenez bénévole</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
