{% extends 'base.html.twig' %}

{% block title %}festivals
{% endblock %}

{% block body %}

	<div class="searchbar-wrapper">


		{{ form_start(form) }}
		<div class="box">
			{{ form_widget(form.q) }}
			<img id="saf" src="{{ asset("icons/search.svg") }}" alt="Search icon">
			<button></button>


			{#        <div class="box">#}

		{#          <input type="text" placeholder="Search...">#}

			{#          <a href="#">#}

			{#              <img id="saf" src="{{ asset("icons/search.svg") }}" alt="Search icon">#}

			{#              <span>Rechercher un festival</span>#}

			{#          </a>#}

		</div>
		{{ form_end(form) }}
	</div>
	<div class="fest-wrapper">
		{% for festival in festivals %}
			{{ include('festival/fest.html.twig',{'festival':festival}) }}
		{% endfor %}
	</div>

{% endblock %}
