{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title'|trans({},'index_postulation') }}
{% endblock %}

{% block body %}
	<h1>	{{ 'title'|trans({},'index_postulation') }}
	</h1>

	{% if postulations is not empty %}
		<table border="1">
			<thead>
				<tr>
					<th>	{{ 'fest'|trans({},'index_postulation') }}
					</th>
					<th>	{{ 'date'|trans({},'index_postulation') }}
					</th>
					<th>	{{ 'status'|trans({},'index_postulation') }}
					</th>
					<th>	{{ 'motif'|trans({},'index_postulation') }}
					</th>
				</tr>
			</thead>
			<tbody>
				{% for postulation in postulations %}
					<tr>
						<td>
							<a href="{{path('app_festival_detail', {'id' : postulation.festival.getId()} ) }}">
								{{ postulation.festival.nom }}
							</a>
						</td>
						<td>{{ postulation.date | date('d/m/Y') }}</td>
						<td>{{ postulation.statusToString() }}</td>
						<td>{{ postulation.motif ? postulation.motif : '/' }}</td>
					</tr>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table>{% else %}<p>	{{ 'void'|trans({},'index_postulation') }}
		</p>{% endif %}{% endblock %}
