{% extends 'base.html.twig' %}

{% block title %}
    Postulation de
    {{ postulation.utilisateur.nom }}
    {{ postulation.utilisateur.prenom }}
{% endblock %}

{% block body %}
    <div class="postulation-page2">
        <h1>Postulation pour {{ postulation.festival.nom }}</h1>

        <div class="user-info-container">
				<div class="user-image">
					<img id="" {% if postulation.utilisateur.nomphotoprofil == true %} src="{{ asset("uploads/user/" ~ postulation.utilisateur.nomPhotoProfil ~ "") }}" {% else %} src="{{ asset("uploads/user/anonyme.png") }}" {% endif %}>
				</div>
				<div class="user-details">
					<div>
						<strong>Nom</strong>:
						{{ postulation.utilisateur.nom }}
					</div>
					<div>
						<strong>Prénom</strong>:
						{{ postulation.utilisateur.prenom }}
					</div>
				</div>
				<a class="profile-link" href="{{path("app_user_profile", { id: postulation.utilisateur.getId() })}}">
					<img src="{{asset('/icons/external-link.png')}}" alt="">
				</a>
			</div>
        
        <div class="postulation-steps">
            <div class="postulation-step">
                <h2>Étape 1: Formulaire de postulation</h2>
                <a href="{{path('app_postulations_form', {id: postulation.id})}}">Voir formulaire de postulation</a>
            </div>

            <div class="postulation-step">
                <h2>Étape 2: Indisponibilités</h2>
                <a href="{{path('app_user_indispo_manage', {id: postulation.id})}}">Voir les indisponibilités</a>
            </div>

            <div class="postulation-step">
                <h2>Étape 3: Préférences</h2>
                <a href="{{path('app_festival_preferences', {id: postulation.id})}}">Voir les préférences</a>
            </div>
        </div>
    </div>
    <form action="{{path('app_postulations_accept', {id: postulation.id})}}" method="POST">
        <button type="submit" class="postuler-btn accept">
            Accepter
        </button>
    </form>

    <a class="postuler-btn refuse" href="{{path('app_postulations_refuse', {id: postulation.id})}}">
		Refuser
	</a>
    
{% endblock %}
