{% extends 'base.html.twig' %}

{% block title %}
    Postulation de
    {{ postulation.utilisateur.nom }}
    {{ postulation.utilisateur.prenom }}
{% endblock %}

{% block body %}
    <div class="postulation-page2">
        <h1>Postulation pour {{ postulation.festival.nom }}</h1>
        
        <div class="postulation-steps">
            <div class="postulation-step">
                <h2>Étape 1: Formulaire de postulation</h2>
                {% if isFormDone %}
                    <span class="check">&#x2713;</span>
                {% else %}
                    <a href="{{path('app_postulations_form', {id: postulation.id})}}">Accéder au formulaire de postulation</a>
                {% endif %}
            </div>

            <div class="postulation-step">
                <h2>Étape 2: Indisponibilités</h2>
                {% if areIndisposDone %}
                    <span class="check">&#x2713;</span>
                {% endif %}
                <a href="{{path('app_user_indispo_manage', {id: postulation.id})}}">Indiquer mes indisponibilités</a>
            </div>

            <div class="postulation-step">
                <h2>Étape 3: Préférences</h2>
                {% if arePreferencesDone %}
                    <span class="check">&#x2713;</span>
                {% endif %}
                <a href="{{path('app_festival_preferences', {id: postulation.id})}}">Indiquer mes préférences</a>
            </div>
        </div>
    </div>
    {% if isFormDone %}
	<a class="postuler-btn accept" href="{{path('app_postulations_send', {id: postulation.id})}}">
		Postuler
	</a>
    {% endif %}
{% endblock %}
