{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title'|trans({},'postulation') }}
	{{ postulation.utilisateur.nom }}
	{{ postulation.utilisateur.prenom }}
{% endblock %}

{% block body %}
	<div class="postulation-page">
		<h1>	{{ 'title'|trans({},'postulation') }}

			{{ postulation.utilisateur.nom }}
			{{ postulation.utilisateur.prenom }}</h1>
		<div>
			<div class="user-info-container">
				<div class="user-image">
					<img id="" {% if postulation.utilisateur.nomphotoprofil == true %} src="{{ asset("uploads/user/" ~ postulation.utilisateur.nomPhotoProfil ~ "") }}" {% else %} src="{{ asset("uploads/user/anonyme.png") }}" {% endif %}>
				</div>
				<div class="user-details">
					<div>
                        <strong>	{{ 'surname'|trans({},'postulation') }}
                        </strong>
                            {{ postulation.utilisateur.nom }}
					</div>
					<div>
						<strong>	{{ 'name'|trans({},'postulation') }}
						</strong>:
						{{ postulation.utilisateur.prenom }}
					</div>
				</div>
				<a class="profile-link" href="{{path("app_user_profile", { id: postulation.utilisateur.getId() })}}">
					<img src="{{asset('/icons/external-link.png')}}" alt="">
				</a>
			</div>

		</div>
		<!-- Fin de l'intégration des informations utilisateur -->
		<div class="postulation-container">
			{% for reponse in postulation.reponses %}
				{% set question = reponse.question %}
				<div>
					<label>{{ question.label }}</label>
					{% if question.typeReponse == 'boolean' %}
						<div class="radio-group">
							<div>
								{% if reponse.contenue == "true" %}
									<input type="radio" checked disabled>
								{% else %}
									<input type="radio" disabled>
								{% endif %}
								<label>{{ 'yes'|trans({},'postulation') }}</label>
							</div>
							<div>
								{% if reponse.contenue == "false" %}
									<input type="radio" checked disabled>
								{% else %}
									<input type="radio" disabled>
								{% endif %}
								<label>{{ 'no'|trans({},'postulation') }}</label>
							</div>
						</div>
					{% else %}
						<input type="text" id="response_{{ question.id }}" name="responses[{{ question.id }}]" value="{{reponse.contenue}}" disabled>
					{% endif %}
				</div>
			{% endfor %}
			{% if postulation.status == 0 %}
				<div class="buttons-container">
					<form action="{{path("app_postulations_accept", {id: postulation.getId()})}}" method="post">
						<button class="accept" type="submit">	{{ 'accept'|trans({},'postulation') }}
						</button>
					</form>
					<form action="{{path("app_postulations_refuse", {id: postulation.getId()})}}" method="get">
						<button class="refuse" type="submit">	{{ 'reject'|trans({},'postulation') }}
						</button>
					</form>
				</div>
			{% elseif postulation.status == 1 %}
				<div class="status-container">
					<p>{{ 'status'|trans({},'postulation') }}
						<span class="accepted">{{ 'accept'|trans({},'postulation') }}</span>
					</p>
				</div>
			{% else %}
				<div class="status-container">
					<p>{{ 'status'|trans({},'postulation') }}
						<span class="refused">{{ 'reject'|trans({},'postulation') }}</span>
					</p>
					<p>{{ 'motif'|trans({},'postulation') }}
						{{postulation.motif}}</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
