ééé{% extends 'base.html.twig' %}

{% block title %}
    Demander la validation
{% endblock %}

{% block body %}
    <section class="postulation-container">
        <h1 class="page-title">{{ 'title'|trans({},'openValid') }}</h1>

        <div class="consequences-section">
            <h2>{{ 'h2'|trans({},'addfest') }}</h2>

        <ul>
            <li>{{ 'li'|trans({},'addfest') }}</li>
            <li>{{ 'li2'|trans({},'addfest') }}</li>
        </ul>




        </div>

        <form action="{{ path('app_festival_validation', {'id': festival.getId()}) }}" method="post">
            <button name="" value="" class="gest_btn">{{ 'btn'|trans({},'addfest') }}</button>
        </form>

    </section>
{% endblock %}
