{% extends "base.html.twig" %}
{% block title %}Liste des demandes
{% endblock %}

{% block body %}
	<h1>Liste des demandes de bénévolat</h1>
	<table class="\" table\"">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Mail</th>

			</tr>
		</thead>
		<tbody>
			{% for demande in demandes %}
				<tr>
					<td>{{ demande.nom }}</td>
					<td>{{ demande.prenom }}</td>
					<td>{{ demande.email }}</td>
					<td>
						<a href="{{ path('app_festival_accept_demande', {'id' : idFest, 'idUser': demande.id}) }}">Accepter</a>
					</td>
					<td>
						<a href="{{ path('app_festival_reject_demande', {'id' : idFest, 'idUser': demande.id}) }}">Refuser</a>
					</td>
				{% else %}
					<tr>
						<td colspan="\" 8\"">Aucune demande trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
