{% extends "base.html.twig" %}
{% block title %}Liste des demandes
{% endblock %}
{% block overhead %}
    <script src="{{ asset('js/addResponsable.js') }}" defer></script>
{% endblock %}
{% block body %}
    <input type="hidden" id="id_festival" value={{ idFest }}>

    <h1>Liste des postulations de bénévoles</h1>
    <h2>vous {% if  demandes|length() == 1 %}  avez {{ demandes|length() }} postulation
        {% elseif demandes|length() > 1 %} avez {{ demandes|length() }} postulations
        {% else %} n'avez pas de postulations {% endif %}
        pour ce festival</h2>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>Réponse</th>
        </tr>
        </thead>
        <tbody>
        {% if demandes|length()>0 %}
        {% for demande in demandes %}
        <tr>
            <td>{{ demande.nom }}</td>
            <td>{{ demande.prenom }}</td>
            <td>{{ demande.email }}</td>
            <td>
                <a href="{{ path('app_festival_accept_demande', {'id' : idFest, 'idUser': demande.id}) }}">Accepter</a>
            </td>
            <td>
                <a href="{{ path('app_festival_reject_demande', {'id' : idFest, 'idUser': demande.id}) }}">Refuser</a>
            </td>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
    <h1>Liste des bénévoles</h1>
    <h2>vous {% if  benevoles|length() > 0 %}  avez {{ benevoles|length() }} bénévoles
        {% else %} n'avez pas encore de bénévoles {% endif %}
        pour ce festival</h2>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>Responsable</th>
        </tr>
        </thead>
        {% if benevoles|length() > 0 %}
        {% for benevole in benevoles %}
        <tbody>
        <tr>
            <td>{{ benevole.nom }}</td>
            <td>{{ benevole.prenom }}</td>
            <td>{{ benevole.email }}</td>
            <td>
                <div class="switch__container">
                    <input id="{{ benevole.id }}" class="switch switch--shadow" type="checkbox">
                    <label for="{{ benevole.id }}"></label>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}

