{% extends "base.html.twig" %}
{% block title %}Ajouter les heures de debut et de fin{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>Ajouter les heures de debut et de fin de chaque jour de votre festival</h1>

        {{ form_start(form, {'attr': {'class': 'festival-form'}}) }}
        {% for c in creaneaux %}
        <div class="form-row">
        {{ form_row(form.dateDebut,{'label': 'Date de début', 'attr': {'class': 'festival-form__input'}})}}
        {{ form_row(form.dateFin, {'label': 'Date de début', 'attr': {'class': 'festival-form__input'}})}}
        </div>
        {% endfor %}
        {{ form_widget(form.ajouter, {'label': 'Ajouter', 'attr': {'class': 'festival-form__checkbox'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}