{% extends 'base.html.twig' %}


{% block title %}{{ 'title'|trans({},'archive') }}{{ festival.getNom() }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'h1'|trans({},'archive')|raw }}
    </h1>

    <div class="btn-container">
        <div class="button-benevole">
            <a href={{ path("app_user_festivals") }} class="btn btn-primary">{{ 'cancel'|trans({},'archive') }}</a>
        </div>
        <div class="button-archive">
            <a href={{ path("app_festival_archiver_done", { 'id': festival.getId() }) }} class="btn btn-primary">{{ 'submit'|trans({},'archive') }}</a>
        </div>
    </div>
{% endblock %}