{% extends "base.html.twig" %}
{% block title %}creer un questionnaire sur votre festival{% endblock %}

{% block body %}

    <div class="create-questionnaire">
        <h1>Créer un questionnaire sur votre festival</h1>
        
        <div class="questions">
            <h3>Les questions :</h3>
            {% for question in questions %}
                <div class="box-question">
                    <div>
                        {{ question.label }}
                        (
                        {% if question.typeReponse=='string' %}
                            Text
                        {% elseif question.typeReponse=='integer' %}
                            Numérique
                        {% elseif question.typeReponse=='email' %}
                            Email
                        {% elseif question.typeReponse=='date' %}
                            Date
                        {% elseif question.typeReponse=='boolean' %}
                            Oui/Non
                        {% endif %}
                        )
                    </div>
            
                    <div class="btns">
                        <a href="{{ path('app_festival_question_modify', {'id' : festival.getId(), 'idQuestion' : question.id}) }}">
                            <img src="{{ asset("icons/modify.svg") }}" alt="Modify icon">
                        </a>
                        <a href="{{ path('app_festival_question_delete', {'id' : festival.getId(), 'idQuestion' : question.id}) }}">
                            <img src="{{ asset("icons/delete.svg") }}" alt="Delete icon">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {{ form_start(form, {'attr': {'class': 'festival-form'}}) }}

        {{ form_row(form.label, {'label': 'Votre question', 'attr': {'class': 'festival-form__input'}}) }}

        {{ form_row(form.typeReponse, {'label': 'Type de reponse'}) }}

        {{ form_widget(form.addQuestion, {'label': 'Ajouter', 'attr': {'class': 'festival-form__checkbox'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}