{% extends 'base.html.twig' %}


{% block title %}festivals
{% endblock %}
{% block overhead %}
	<link
	rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="{{asset('js/mapDetailFest.js')}}" defer></script>
{% endblock %}
{% block body %}
	<div class="detailFesival">
	<div class="detailFesival-block">
		<div class="container-affiche">
			<img class="affiche" id="affiche" {% if (festival.getAffiche()) != null %} src="{{ asset("uploads/" ~ festival.getAffiche() ) }}" {% else %} src="{{ asset("img/affiches/affiche-XX.jpg") }}" {% endif %} alt="affiche du festival">
			<div class="fest-info" id="fest-info">
				<div class="fest-nom">
					<span>{{ festival.getNom() }}</span>
				</div>
				<div class="fest-dateEtLieux">
					<span>{{ festival.getDateDebut()|date("d/m/Y") }} - {{ festival.getDateFin()|date("d/m/Y") }}</span>
				</div>
			</div>
		</div>
		<div class="fest-description">
			<div class="title">
				DESCRIPTION
			</div>
			<div class="main-desc">
				{{ festival.description() }}
			</div>

			{% if festival.getTags() is not empty %}
				<div class="title">
					TAGS
				</div>
				<div>
					{% for tag in festival.getTags() %}
						{{ tag.getNom() }}
					{% endfor %}
				</div>
			{% endif %}

			<div class="title">
				LOCALISATION
			</div>
			<input id="lat" type="hidden" value="{{ festival.lat() }}">
			<input id="lon" type="hidden" value="{{ festival.lon() }}">

			<div id="mapid"></div>
		</div>
	</div>	

		<div class="btn-container">
			{% if isResponsable or isOrganisateur %}
				<div class="button-benevole">
					<a href={{ path("app_festival_postes", {'id' : festival.getId()} ) }} class="btn btn-primary">Postes du festival</a>
				</div>
			{% endif %}
			{% if isBenevole or isOrganisateur or isResponsable %}

				<div class="button-benevole">
					<a href={{ path("app_festival_planning", {'id' : festival.getId()} ) }} class="btn btn-primary">Planning du festival</a>
				</div>
			{% endif %}
			{% if isOrganisateur %}
				<div class="button-benevole">
					<a href={{ path("app_festival_demandesBenevolat", {'id' : festival.getId()} ) }} class="btn btn-primary">Demandes de bénévolat</a>
				</div>

				<div class="button-archive">
					<a href={{ path("app_festival_archiver", {'id' : festival.getId()} ) }} class="btn btn-primary">Archiver le festival</a>
				</div>
			{% endif %}


			{% if not(isBenevole or isOrganisateur or isResponsable) %}
				<div class="button-benevole">
					<a href={{ path('app_festival_apply_volunteer', {'id': festival.getId()} ) }} class="btn btn-primary">Postuler</a>
				</div>
			{% endif %}
		</div>


	</div>
{% endblock %}
