<a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}">
	<div class="fest">
		<div class="affiche" 

		style="background-image: url('{{ (festival.getAffiche()) != null ? asset("uploads/" ~ festival.getAffiche()) : asset("img/affiches/affiche-XX.jpg") }}')">

		</div>
		<div class="fest-info">
			<div class="fest-nom">
				<span>{{ festival.getNom() }}</span>
			</div>
			<div class="fest-dateEtLieux">
				<span>{{ festival.getDateDebut()|date("d/m/Y") }}-{{ festival.getDateFin()|date("d/m/Y") }}</span>
				<span>{# {{ festival.getLieuxVille() }} #}</span>
			</div>
		</div>
	</div>
</a>
