{% extends 'base.html.twig' %}

{% block title %}
	{{ 'titles.pageTitle'|trans({},'gestionfest') }}
	{{festival.getNom()}}
{% endblock %}

{% block body %}
	<section class='page-container	flex-column'>
		<h1 class="page-title">{{ 'titles.pageTitle'|trans({},'gestionfest') }}
			{{festival.getNom()}}</h1>
		<h2>
			{{ 'titles.status'|trans({},'gestionfest') }}
			{% if festival.isOpen() %}{{ 'titles.open'|trans({},'gestionfest') }}
			{% else %}
				{{ statut }}
			{% endif %}
		</h2>
		<div class="actions">
			<h2>{{ 'subtitles.planning.title'|trans({},'gestionfest') }}</h2>
			<p>{{ 'subtitles.planning.p'|trans({},'gestionfest') }}</p>
			<a href="{{path('app_festival_planning', {'id': festival.getId()})}}" class="gest_btn">{{ 'subtitles.planning.a'|trans({},'gestionfest') }}</a>
		</div>
		<div class="actions">
			<h2>{{ 'subtitles.post.title'|trans({},'gestionfest')  }}</h2>
			<p>{{ 'subtitles.post.p'|trans({},'gestionfest')  }}</p>
			<a href="{{path('app_festival_postes', {'id': festival.getId()})}}" class="gest_btn">{{ 'subtitles.post.a'|trans({},'gestionfest')  }}</a>
		</div>
		<div class="actions">
			<h2> {{ 'subtitles.postulation.title'|trans({},'gestionfest')  }}</h2>
			<p>{{ 'subtitles.postulation.p'|trans({},'gestionfest')  }}</p>
			<a href="{{path('app_festival_postulations', {'id': festival.getId()})}}" class="gest_btn">{{ 'subtitles.postulation.a'|trans({},'gestionfest')  }}</a>
		</div>
		<div class="actions">
			<h2>{{ 'subtitles.questionnaire.title'|trans({},'gestionfest')  }}</h2>
			<p>{{ 'subtitles.questionnaire.p'|trans({},'gestionfest')  }}</p>
			<a href="{{path('app_festival_create_questionnaire', {'id': festival.getId()})}}" class="gest_btn">{{ 'subtitles.questionnaire.a'|trans({},'gestionfest')  }}</a>
		</div>
		<div class="actions">
			<h2>{{ 'actions.demande_valid'|trans({}, 'gestionfest') }}</h2>
			{% if festival.getValid()==1 %}
				<span>{{ 'response.valid'|trans({}, 'gestionfest') }}</span>
			{% elseif hasPendingValidation %}
				<span>{{ 'response.pending'|trans({}, 'gestionfest') }}</span>
					<a style="text-decoration: none; color: #007bff; font-weight: semi-bold;" href="{{path('app_festival_validation', {'id': festival.getId()})}}">{{ 'ici'|trans({}, 'gestionfest') }}</a>
				</span>
			{% else %}
				<form action="{{path('app_festival_validation', {'id': festival.getId()})}}" method="post">
					<button name="" value="" class="gest_btn tooltip">{{ 'actions.demande_valid'|trans({}, 'gestionfest') }}</button>
				</form>
				{% if hasValidations %}
					<span>
						{{ 'response.validations'|trans({}, 'gestionfest') }}
						<a style="text-decoration: none; color: #007bff; font-weight: semi-bold;" href="{{path('app_festival_validation', {'id': festival.getId()})}}">{{ 'ici'|trans({},'gestionfest') }}</a>
					</span>
				{% endif %}
			{% endif %}
		</div>

		<div class="actions">
			<h2>{{ 'actions.open'|trans({}, 'gestionfest') }}</h2>
			<p>{{ 'subtitles.open.p'|trans({},'gestionfest') }}</p>
			<p>{{ 'subtitles.open.pp'|trans({},'gestionfest') }}</p>
			{% if festival.getValid()!=1 %}
				<span>{{ 'response.not_valid'|trans({},'gestionfest') }}</span>
			{% elseif festival.isOpen() %}
				<span>{{ 'response.open'|trans({},'gestionfest') }}</span>
			{% else %}
				<form action="{{path('app_festival_open', {'id': festival.getId()})}}" method="post">
					<button name="" value="" class="gest_btn tooltip">{{ 'actions.open'|trans({},'gestionfest') }}</button>
				</form>
			{% endif %}
		</div>
		<div class="button-archive">
			<a href={{ path("app_festival_archiver", {'id' : festival.getId()} ) }} class="btn btn-primary">{{ 'actions.archiver'|trans({}, 'gestionfest') }}</a>
		</div>
	</section>
{% endblock %}
