{% extends 'base.html.twig' %}

{% block title %}
    Gestion du
    {{ festival.getNom() }}
{% endblock %}
{% block body %}
    <section class='page-container	flex-column'>
        <h1 class="page-title">Gestion du
            {{ festival.getNom() }}</h1>

        <div class="manage-container">
            <div class="actions">
                <a class="action-div" href="{{ path('app_festival_planning', {'id': festival.getId()}) }}">
                    <div><h2>Gestion du planning</h2>
                        <p>Pour ajouter des plages horaires ou des créneaux</p>
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/planning-manage.svg") }}"
                                                 alt="manage user icon"></div>
                </a>
            </div>
            <div class="actions">
                <a class="action-div" href="{{ path('app_festival_postes', {'id': festival.getId()}) }}">
                    <div><h2>Gestion des postes</h2>
                        <p>Pour ajouter ou modifier les postes</p>
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/assignment-manage.svg") }}"
                                                 alt="manage user icon"></div>
                </a>
            </div>
            <div class="actions">
                <a class="action-div" href="{{ path('app_festival_postulations', {'id': festival.getId()}) }}">
                    <div><h2>Gestion des postulations</h2>
                        <p>Pour voir toutes les postulations du festival</p>
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/postule-manage.svg") }}"
                                                 alt="manage user icon"></div>
                </a>
            </div>
            <div class="actions">
                <a class="action-div" href="{{ path('app_festival_benevoles', {'id': festival.getId()}) }}">
                    <div><h2>Gestion des bénévoles</h2>
                        <p>Pour voir toutes les postulations du festival</p>
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/benevoles-manage.svg") }}"
                                                 alt="manage benevole icon"></div>
                </a>
            </div>
            <div class="actions">
                <a class="action-div" href="{{ path('app_festival_create_questionnaire', {'id': festival.getId()}) }}">
                    <div>
                        <h2>Gestion du formulaire bénévole</h2>
                        <p>Pour voir, modifier ou supprimer toutes les questions du formulaire</p>
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/form-manage.svg") }}"
                                                 alt="manage user icon"></div>
                </a>
            </div>
            <div class="actions">
                <div class="action-div">
                    <div>
                        <h2>Demander la validation du festival</h2>
                        {% if festival.getValid()==1 %}
                            <span>Le festival est déjà validé</span>
                        {% elseif hasPendingValidation %}
                            <span>Votre demande de validation est en cours de traitement, consulter vos demandes
					            <a style="text-decoration: none; color: #007bff; font-weight: semi-bold;" href="{{ path('app_festival_validation', {'id': festival.getId()}) }}">ici</a>
				            </span>
                        {% else %}
                             <a href={{ path('app_festival_validation_page', { 'id' : festival.getId() } )}} class="gest_btn tooltip">Demander la validation</a>
                        {% endif %}
                        {% if hasValidations %}
                        
                        {% endif %}
                    </div>
                    <div class="background"><img class="img-size" src="{{ asset("icons/checked-manage.svg") }}"
                                                 alt="manage user icon"></div>
                </div>
            </div>
            <div class="actions">
                <div class="action-div-reverse">
                    <div class="background">
                        <img class="img-size" src="{{ asset("icons/post-manage.svg") }}" alt="manage user icon"></div>
                    <div>
                        <h2>Ouvrir le festival au postulation</h2>
                    

                    {% if festival.getValid()!=1 %}
                        <div>
                            <span>Le festival n'est pas encore validé</span>
                        </div>

                    {% elseif festival.isOpen() %}
                        <div>
                            <span>Le festival est déjà ouvert</span>
                        </div>  

                    {% else %}
                        <div>
                            <a href={{ path('app_festival_open_page', { 'id' :festival.getId() } )}} class="gest_btn tooltip">Ouvrir</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-archive">
            <a class="a-archive" href={{ path("app_festival_archiver", {'id' : festival.getId()} ) }}>Archiver le
                festival</a>
        </div>
    </section>
{% endblock %}
