{% extends 'base.html.twig' %}

{% block title %}
	Gestion du
	{{festival.getNom()}}
{% endblock %}

{% block body %}
	<section class='page-container	flex-column'>
		<h1 class="page-title">Gestion du
			{{festival.getNom()}}</h1>
		<h2> Ce festival est {% if festival.isOpen() %}ouvert au postulation {% else %} {{ statut }}{% endif %}</h2>
		<div class="actions">
			<h2>Gestion du planning</h2>
			<p>Pour ajouter des plages horaires ou des créneaux</p>
			<a href="{{path('app_festival_planning', {'id': festival.getId()})}}" class="gest_btn">Gérer le planning</a>
		</div>
		<div class="actions">
			<h2>Gestion des postes</h2>
			<p>Pour ajouter ou modifier les postes</p>
			<a href="{{path('app_festival_postes', {'id': festival.getId()})}}" class="gest_btn">Gérer les postes</a>
		</div>
		<div class="actions">
			<h2>Gestion des postulations</h2>
			<p>Pour voir toutes les postulations du festival</p>
			<a href="{{path('app_festival_demandesBenevolat', {'id': festival.getId()})}}" class="gest_btn">Voir les postulations</a>
		</div>
		<div class="actions">
			<h2>Gestion du formulaire Bénévole</h2>
			<p>Pour voir toutes les questions du formulaire</p>
			<a href="{{path('app_festival_postes', {'id': festival.getId()})}}" class="gest_btn">Voir les questions</a>
		</div>
		<div class="actions">
			<h2>Demander la validation du festival</h2>
			{% if festival.getValid()==1 %}
				<span>Le festival est déjà validé</span>
			{% elseif hasPendingValidation %}
				<span>Votre demande de validation est en cours de traitement</span>
			{% else %}
				<form action="{{path('app_festival_validation_add', {'id': festival.getId()})}}" method="post">
					<button name="" value="" class="gest_btn tooltip">Demander la validation</button>
				</form>
			{% endif %}

		</div>
		<div class="button-archive">
			<a href={{ path("app_festival_archiver", {'id' : festival.getId()} ) }} class="btn btn-primary">Archiver le festival</a>
		</div>
	</section>
{% endblock %}
