{% extends "base.html.twig" %}
{% block title %}{{ 'title'|trans({},'modifyfest') }}{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>{{ 'title'|trans({},'modifyfest') }}</h1>

        {{ form_start(form, {'attr': {'class': 'festival-form'}}) }}

        {{ form_row(form.nom, {'label': 'name'|trans({},'addfest'), 'attr': {'class': 'festival-form__input'}}) }}
        {{ form_row(form.description, {'label': 'description'|trans({},'addfest'), 'attr': {'class': 'festival-form__input'}}) }}

        <div class="form-row">
            {{ form_widget(form.dateDebut, {'label': 'Date de début', 'attr': {'class': 'festival-form__input'}}) }}
            {{ form_widget(form.dateFin, {'label': 'Date de fin', 'attr': {'class': 'festival-form__input'}}) }}
        </div>
        <div id="box-adresses">
        {{ form_row(form.lieu, {'label': false, 'attr': {'class': 'festival-form__input'}}) }}
            {{ form_row(form.lat,{'attr':{'id':'lat'}}) }}
            {{ form_row(form.lon,{'attr':{'id':'lon'}}) }}
        </div>
        {{ form_row(form.affiche, {'label': 'poster'|trans({},'addfest'), 'attr': {'class': 'festival-form__input', 'placeholder': 'Affiche du Festival'}}) }}

        {{ form_widget(form.demanderModificationFestival, {'label': 'modify'|trans({},'modifyfest'), 'attr': {'class': 'festival-form__checkbox'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}