{% extends "base.html.twig" %}
{% block title %}{{ 'title'|trans({},'modifyquest') }}{% endblock %}

{% block body %}

    <div class="create-questionnaire">
        <h1>{{ 'title'|trans({},'modifyquest') }}</h1>

        {{ form_start(form, {'attr': {'class': 'festival-form'}}) }}

        {{ form_row(form.label, {'label': 'quest'|trans({},'modifyquest'), 'attr': {'class': 'festival-form__input'}}) }}
        {{ form_row(form.typeReponse, {'label': 'resp'|trans({},'modifyquest')}) }}
        {{  form_widget(form.modifyQuestion, {'attr': {'class': 'festival-form__checkbox'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}