{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title'|trans({}, 'mypostulation') }}
{% endblock %}

{% block body %}
	<h1>{{ 'h1'|trans({}, 'mypostulation') }}
		{{festival.nom}}</h1>

	{% if postulations is not empty %}
		<table border="1">
			<thead>
				<tr>
					<th>{{ 'surname'|trans({}, 'mypostulation') }}</th>
					<th>{{ 'name'|trans({}, 'mypostulation') }}</th>
					<th>{{ 'date'|trans({}, 'mypostulation') }}</th>
					<th>{{ 'status'|trans({}, 'mypostulation') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for postulation in postulations %}
					<tr>
						<td>
							{{ postulation.utilisateur.nom}}
						</td>
						<td>
							{{ postulation.utilisateur.prenom}}
						</td>
						<td>
							{{ postulation.date | date("d/m/Y") }}
						</td>
						<td>
							<a href="{{path('app_postulations_postulation', {id: postulation.id})}}">
								{{ 'link'|trans({}, 'mypostulation') }}
							</a>
						</td>
					</tr>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table>{% else %}<p>{{ 'void'|trans({}, 'mypostulation') }}</p>{% endif %}{% endblock %}
