{% extends 'base.html.twig' %}

{% block title %}
{{ 'title'|trans({},'poste') }}
{% endblock %}

{% block overhead %}{% endblock %}

{% block body %}

	<a id="back-button" style="position: absolute" href="{{ path('app_festival_gestion', { id: festival.id }) }}">
		<img src="{{ asset('icons/right-arrow.png') }}" alt="Flèche retour">
	</a>

	{{ encore_entry_script_tags('app') }}
	<main
	{{ vue_component('ListesPostes', { 'festivalId': festival.id, 'festivalName': festival.nom, 'isOrgaOrResp': isOrgaOrResp, 'status' : status } ) }}>
	</main>
	<div id="app" data-locale="{{ app.request.locale }}"></div>



{% endblock %}
