{% extends 'base.html.twig' %}

{% block title %}
	Vos postulation
{% endblock %}

{% block body %}
	<a id="back-button" href="{{ path('app_festival_gestion', { id: festival.id }) }}">
		<img src="{{ asset('icons/right-arrow.png') }}" alt="Flèche retour">
	</a>
			
	<h1 class="margin-top">Postulations pour
		{{festival.nom}}</h1>

	{% if postulations is not empty %}
		<table border="1">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Date de la demande</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for postulation in postulations %}
					<tr>
						<td>
							{{ postulation.utilisateur.nom}}
						</td>
						<td>
							{{ postulation.utilisateur.prenom}}
						</td>
						<td>
							{{ postulation.date | date("d/m/Y") }}
						</td>
						<td>
							<a href="{{path('app_postulations_postulation', {id: postulation.id})}}">
								Détails
							</a>
						</td>
					</tr>
	{% endfor %}
</tbody></table>{% else %}<p>Aucune postulation disponible.</p>{% endif %}{% endblock %}
